/*All Colors */
/*
.blue
{
text-shadow: none;
background-color: #27a9e3;
}
.blue:hover
{
background-color:#0362fd;	
}
.black
{
color: white;
text-shadow: none;
background-color: #555555;
}
.black:hover
{
background-color: #222222 !important;
color: #fff !important;
}
.purple 
{
color: white;
text-shadow: none;
background-color: #763ea3;
}
.purple:hover
{
background-color: #763ea3 !important;
color: #fff !important;
} 
.red
{
color: white;
text-shadow: none;
background-color: #d84a38;
}
.red:hover
{
background-color: #bb2413 !important;
color: #fff !important;
}
.green
{
color: white;
text-shadow: none;
background-color: #17a515;
}
.green:hover
{
background-color: #107c0f !important;
color: #fff !important;
}
.gray
{
color: #000;
text-shadow: none;
background-color: #e5e5e5;
}
.gray:hover
{
color: #333333;
background-color: #d8d8d8 !important;
}
.gray_dark
{
color: #000;
text-shadow: none;
background-color: #aaaaaa;
}
.gray_dark:hover
{
color: #333333;
background-color: #777676 !important;
}
*/

.green-gradient{
	background: -moz-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#008000',GradientType=1 ); /* ie6-9 */ 
}

.dark-green-gradient{
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */ 
}

.red-gradient{
	background: -moz-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(77,0,0,1)), color-stop(50%, rgba(255,0,0,1)), color-stop(100%, rgba(77,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D0000', endColorstr='#4D0000',GradientType=1 ); /* ie6-9 */ 
} 

.blue-gradient{
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#000000',GradientType=1 ); /* ie6-9 */ 
}

.purple-gradient{
	background: -moz-radial-gradient(center, ellipse cover, rgba(128,0,128,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(128,0,128,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(128,0,128,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(128,0,128,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(128,0,128,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(128,0,128,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#000000',GradientType=1 ); /* ie6-9 */ 
}

.gray-gradient{
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* ie6-9 */ 
}
.greenyellow-gradient{
	     background: -moz-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 69%, rgba(255,255,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,128,0,1)), color-stop(69%, rgba(0,128,0,1)), color-stop(100%, rgba(255,255,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 69%, rgba(255,255,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 69%, rgba(255,255,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 69%, rgba(255,255,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 69%, rgba(255,255,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#008000',GradientType=1 ); /* ie6-9 */ 
}

 .green{
/* 	background: #34a853!important;*/
 	background: #32c5d2!important;
 }
 .gray_dark
{

background-color: #444;
}
 .yellow{
/* 	background: #fbbc05!important;*/
 	background: #c49f47!important;
 }
.red{
/* 	background: #ea4335!important;*/
 	background: #e7505a!important;
 }
.blue{
/* 	background: #4285f4!important;*/
 	background: #3598dc!important;
 }
.voilet{
	background: #8E44AD!important;
 }
.grey{
 	background: #E5E5E5 !important;
 }
.success
{
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}
.warning
{
color: #468847;
background-color: #fcf8e3;
border-color: #fbeed5;
}
.info-message
{
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}
.error 
{
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.button.gray{
	color: #000;
text-shadow: none;
background-color: #e5e5e5;
}
/*
.yellow
{
color: #fff;
text-shadow: none;
background-color: #f4a615;
}
.yellow:hover
{
color: #333333;
background-color: #aa7514 !important;
}*/
.blue-border
{
		border: 1px solid #3598dc;

}
.green-border
{
	border: 1px solid #32c5d2;

}
.yellow-border
{
	border: 1px solid #c49f47;

}
.red-border
{
	border: 1px solid #e7505a;

}
.purple-border
{
	border: 1px solid #852b99;

}
.voilet-border
{
	border: 1px solid #8E44AD;

}
.black-border
{
	border: 1px solid #555555;

}
.gray-border
{
	border: 1px solid #e5e5e5;
}
.gray_dark-border
{
	border: 1px solid #aaaaaa;
	
}
table.dataTable tfoot th, table.dataTable tfoot td {
   border-top: 1px solid #e7ecf1;
}